* {
    background-color: transparent;

    border:        none;
    border-radius: 0;

    box-shadow: none;

    color: #fff;

    font-family: sans;
    font-size:   14px;
    font-weight: normal;

    outline: none;

    transition: background-color 0.25s;
}

#entry {
    border-radius: 4px;

    margin-bottom: 5px;
    margin-left:   5px;
    margin-right:  5px;

    padding: 6px 8px;
}

#entry:selected {
    /* #50505050
     *
     * 0x50 = 80
     *
     * 80 / 255 ~= 0.3
     */
    background-color: rgba(80, 80, 80, 0.3);
}

#img {
    margin-right: 8px;
}

#input {
    padding: 6px 16px;
}

#scroll {
    border-top: 1px solid rgba(80, 80, 80, 0.3);

    padding-top: 5px;
}

/*
#inner-box {}

#outer-box {}

#scroll {}

#text {}
*/

#window {
    /* #1e1e1ebb
     *
     * 0x1E = 30
     * 0xBB = 187
     *
     * 187 / 255 ~= 0.7333
     */
    background-color: rgba(30, 30, 30, 0.7333);

    padding: 0;
}
