@use "../../common/styles/material-design-3/dark.scss" as material;

.action-button {
  border-radius: 24px;

  box-shadow: 0 4px 8px rgba(material.$md-sys-color-shadow, 0.25);

  padding: 16px 24px;
}

.action-button.power {
  background: material.$md-sys-color-primary-fixed;
}

.action-button.regular {
  background: material.$md-sys-color-surface-tint;
}

.power-menu {
  background: rgba(material.$md-sys-color-background, 0.95);
}

.power-menu .action-button-container {
  padding: 16px;
}
