:root {
    --accent-color-primary: #0038eb;

    --bar-border-color:  #1e1e1eff;
    --bar-border-height: 0;
    --bar-padding:       4px;

    --bg-color-primary:   #111111bb;
    --bg-color-secondary: #1e1e1e;
    --bg-color-tertiary:  #262626;

    --button-border-color-focus:  var(--accent-color-primary);
    --button-border-color-normal: transparent;
    --button-border-width:        2px;
    --button-margin-left:         4px;
    --button-padding:             2px;

    --element-bg-color-hover:      #50505050;
    --element-padding:             2px 6px;
    --element-transition-duration: 0.25s;

    --fg-color-primary:   #fff;
    --fg-color-secondary: #888;

    --font-size-primary: 14px;

    --border-radius-primary:   8px;
    --border-radius-secondary: 4px;
}

* {
    background-image: none;
    border: none;
    box-shadow: none;

    font-family: sans;
    font-size: var(--font-size-primary);
    font-weight: bold;
}

.background {
    background-color: transparent;
}

.clock {
    padding: 2px 8px;
}

.menu label {
    font-weight: normal;
}

.tray {
    margin: 0 4px;
}

.workspaces .item label {
    color: var(--fg-color-secondary);
}

.workspaces .item.focused label {
    color: var(--accent-color-primary);
}

#bar {
    background-color: var(--bg-color-primary);

    border-bottom: var(--bar-border-height) solid;
    border-color: var(--bar-border-color);

    padding: var(--bar-padding);
}

box, button, label {
    color: var(--fg-color-primary);
}

button {
    border-radius: var(--border-radius-primary);

    padding: var(--element-padding);

    transition: background-color var(--element-transition-duration);
}

button:hover {
    background-color: var(--element-bg-color-hover);
}

calendar {
    background-color: var(--bg-color-tertiary);

    border-radius: var(--border-radius-secondary);
}

label {
    line-height: var(--font-size-primary);
}

popover, popover contents {
    background-color: var(--bg-color-secondary);

    border-radius: var(--border-radius-primary);
}
