:root {
    --accent-color-primary: #0038eb;

    --bar-padding: 4px;

    --bg-color-primary:   #111111bb;
    --bg-color-secondary: #1e1e1e;
    --bg-color-tertiary:  #262626;

    --border-radius-primary:   8px;
    --border-radius-secondary: 4px;

    --border-width: 1px;

    --button-border-color-focus:  var(--accent-color-primary);
    --button-border-color-normal: transparent;
    --button-border-radius:       8px;
    --button-border-width:        2px;
    --button-margin-left:         0;
    --button-padding:             2px;
    --button-size:                24px;
    
    --fg-color-primary:   #fff;
    --fg-color-secondary: #888;

    --font-size-primary: 14px;

    --widget-bg-color-hover:      #50505050;
    --widget-separator-margin:    4px;
    --widget-transition-duration: 0.25s;
}

* {
    background-image: none;
    
    border: none;

    box-shadow: none;

    font-family: sans;
    font-size:   var(--font-size-primary);
    font-weight: bold;
}

.background {
    background-color: transparent;
}

.battery, .clock {
    padding: 2px 8px;
}

.calendar-clock {
    font-size: 16px;

    margin-bottom: 8px;

    padding: 4px;

    min-width: 64px;
}

.day-number, .workspaces .item label {
    color: var(--fg-color-secondary);
}

.day-number.today {
    background-color: var(--accent-color-primary);

    color: var(--fg-color-primary);
}

.menu label {
    font-weight: normal;
}

.workspaces .item.focused label {
    color: var(--accent-color-primary);
}

#bar {
    background-color: var(--bg-color-primary);

    padding: var(--bar-padding);
}

box revealer:not(:first-child) {
    margin-left: var(--widget-separator-margin);
}

box button:not(:first-child) {
    margin-left: var(--button-margin-left);
}

box, button, label {
    color: var(--fg-color-primary);
}

button {
    border-radius: var(--button-border-radius);

    padding: var(--button-padding);

    transition: background-color var(--widget-transition-duration);
}

button:hover, .flat:hover, separator {
    background-color: var(--widget-bg-color-hover);
}

button, picture {
    min-height: var(--button-size);
    min-width:  var(--button-size);
}

button > box > box > picture {
    min-width: 0;
}

calendar {
    background-color: var(--bg-color-tertiary);
}

calendar, popover contents {
    border-radius: var(--border-radius-primary);
}

label {
    line-height: var(--font-size-primary);
}

popover {
    background-color: var(--bg-color-primary);
}

popover arrow {
    background-color: var(--bg-color-tertiary);
}

popover contents {
    background-color: var(--bg-color-secondary);

    border: var(--border-width) solid var(--bg-color-tertiary);
}

separator {
    opacity: 0.8;
}
