@use "presets/material-design-3/common/styles/variables.scss";

@use "presets/material-design-3/widgets/bottom-bar/style.scss" as bottom-bar;
@use "presets/material-design-3/widgets/power-menu/style.scss" as power-menu;

* {
  all: unset;

  font-family: sans;
  font-size:   variables.$font-size-base;
  font-weight: bold;
}
